# Dev DBT credentials
DEV_DBT_ENV_SECRET_ACCOUNT=
DEV_DBT_ENV_SECRET_USER=
DEV_DBT_ENV_SECRET_PASSWORD=
DEV_DBT_ENV_SECRET_WAREHOUSE=
DEV_DBT_ENV_SECRET_DB=
DEV_DBT_ENV_SECRET_SCHEMA=
DEV_DBT_ENV_SECRET_ROLE=
DBT_PROFILES_DIR=
DBT_PROJECT_DIR=
DBT_ENV_SECRET_TARGET=
